@import "@theme/color.scss";
@import "@theme/media.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main;
    width: 100%;
  }

.section {
  @media #{$desktop} {
    padding: 32px;
    margin-bottom: 16px;
  }
  @media #{$mobile} {
    padding: 16px;
    margin-bottom: 8px;
  }
  background-color: $pink;
  border-radius: 4px;
  width: 80%;

  table {
    margin-left: auto;
    margin-right: auto;
  }

  table,
  th,
  td {
    border: 1px solid $smoke;
    border-collapse: collapse;
  }

  th,
  td {
    background-color: $white;
    text-align: center;

    @media #{$desktop} {
      padding: 8px;
    }
    @media #{$mobile} {
      padding: 4px;
    }
  }

  a {
    color: $smoke;
    text-decoration: underline;
    transition: all 150ms ease-in-out;
    &:hover {
      color: $dark;
    }
  }

  h1,
  h2 {
    margin-top: 0px;
  }

  p {
    img {
      max-height: 1.2em;
      height: auto;
      width: auto;
    }
  }
}

.itemcell {
  display: flex;
  align-items: center;
  @media #{$mobile} {
    flex-direction: column;
  }
  > img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    flex: 0 0 ;
  }
}

.wordytable {
  @media #{$mobile} {
    font-size: 11px;
  }
}

.shinyDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
