{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": "> 0.25%, not dead",
					"node": "current"
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-transform-runtime"
	]
}
